{% extends "../base/base.html" %}
{% load rest_framework %}
{% block title %}Contact Page{% endblock title %}
{% block description %}This is contact page for recruitment task{% endblock description %}

{% block content %}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="contact_form_wrapper">
        <div class="contact_form_position">
            <div class="contact_form_title">
                {% if data %}
                    {{ data }}
                {% else %}
                    Contact Us.
                {% endif %}
            </div>
            <form method="POST" id="contact_form">
                {% csrf_token %}
                {% render_form serializer %}
            </form>
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="swipe_btn_black lading contact_btn" onclick='redirect(`{% url "home" %}`)'>Back</div>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <div class="swipe_btn_black contact_btn" onclick='postData(`/api/message/`)'>Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}